@model SoftwareTestingCore.Models.CarViewModel

@{
    ViewData["Title"] = "Search for cars";

    if (Model.Notification == 1)
    {
        // fail
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Search unsuccessful!</strong> You should check the errors below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (Model.Notification == 2)
    {
        // success
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> We have found several available cars based on your criteria.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}


<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Find cars avaiable to purchase based on your inputted preferences. This web app is built for a software testing course and has automated test cases running on xUnit and Selenium. </p>
    <span asp-validation-for="Car.Type" class="text-danger"></span>
    <hr class="my-4">


    <form asp-controller="Home" asp-action="Index" style="max-width:750px;">
        <div class="form-group">
            <label for="type">Type (Gas, Electric, Hybrid, Diesel)</label>
            <input type="text" class="form-control" id="type" asp-for="Car.Type" placeholder="Enter car type" />
            
        </div>
        <div class="form-group">
            <label for="brand">Brand (BMW, Mercedes, Audi, Tesla)</label>
            <input type="text" class="form-control" id="brand" asp-for="Car.Brand" placeholder="Enter brand">
            
        </div>
        <div class="form-group">
            <label for="location">Location (China, Miami, LA, London)</label>
            <input type="text" class="form-control" id="location" asp-for="Car.Location" placeholder="Enter location">
           
        </div>
        <div class="form-group">
            <label for="price">Price Range </label>
            <input type="number" class="form-control" id="price" asp-for="Car.PriceRange" placeholder="Enter price range">
         
        </div>
        <div style="height:25px"></div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

